/*Defaults------------------------------------------------------*/

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-primarys: #8fd5f0;
  --color-secondarys: #7ba75f;
  --color-accent: #fa3402;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  overflow-x: hidden;
}
/*Typography---------------------------------------------------------*/
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  background: #b1a7a9;
  color: var(--color-headings);
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
a {
  text-decoration: none;
}
/*icons------------------------------------------------------*/
.icon {
  width: 40px;
  height: 40px;
}
.icon--big {
  width: 70px;
  height: 70px;
}
.menu > img {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: #fff;
}
.icon--black {
  fill: black;
}
.icon-container {
  background: #e0ecee;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--accent {
  background: var(--color-accent);
}
/*Lists------------------------------------------------------*/
.list {
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/*collapsibles--------------------------------------------*/
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: 0.9s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.8s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/*navigation---------------------------------------------*/

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.nav__brand > img {
  width: 60px;
  height: 55px;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.collapsible__content {
  max-height: 0;
  transition: all 0.9s;
  overflow: hidden;
  opacity: 0;
}
.collapsible--expanded .collapsible__content {
  max-height: 100hvh;
  opacity: 1;
  transition: all 0.9s;
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.9s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color-secondarys);
  text-decoration: underline var(--color-secondarys);
}
.nav-white-line {
  border-bottom: 3px solid #777;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.5rem;
    max-height: 100%;
    opacity: 1;
  }
}
/*Defaults for the Navigation---------------------------------------*/
/*Defaults for the Navigation---------------------------------------*/
/*Defaults for the Navigation---------------------------------------*/
/*buttons------------------------------------------------------*/
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 4vw;
  outline: 0;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin: 1rem 0;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #3a8ffd;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #00c8eb;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #f05c38;
}
.btn--theme {
  background: #8fd5f0;
  color: #000;
}
.btn--theme:hover {
  background: #076286;
  color: #fff;
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}
.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}
.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*block--------------------------------------------*/
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.container800 {
  max-width: 800px;
  margin: 0 auto;
}
.block {
  padding: 4rem;
}
.block--dark {
  background: #000;
  color: #7b858b;
}
.block--skewed-left {
  padding: 4rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.block__header {
  text-align: center;
  margin-bottom: 4rem;
}
.block__heading {
  margin-top: 0;
}
/*grids------------------------------------------------------*/
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*Defaults------------------------------------------------------*/
/*Defaults------------------------------------------------------*/
.nerd__header {
  margin-top: 10rem;
}

.nerd__heading {
  font-size: 2rem;
}
.nerd1 {
  margin: 1rem;
  padding: 1rem;
}
.viz {
  overflow: visible;
}
